.DS_Store
IDEFindNavigatorScopes.plist
stdout
Thumbs.db
/builds
*.bak
*.xcbkptlist
*.xcuserstate
/vendor
/Tasks.xcworkspace/xcuserdata
/Pods/Pods.xcodeproj/xcuserdata
/Tasks.xcodeproj/xcuserdata
/fastlane/report.xml
/fastlane/README.md